# 1. 빌드 결과물 제외
bin/
obj/

# 2. 프로젝트 속성 폴더 제외
# (주의: Properties 안에는 프로그램 아이콘이나 설정 정보가 들어있을 수 있으므로 
# 필요시 백업해 두시거나 협업 환경에 따라 공유 여부를 판단하는 것이 좋습니다)
Properties/

# 3. 개발 도구 임시 설정 제외
.vs/
.vscode/

# 4. 확장자 기준 임시 파일 제외
*.user
*.suo

# 5. 설정파일 제외
/env
